.landingMain {
    width: 100%;
    height: 100vh;
    display: flex;
}

.landingDescription {
    width: 50%;
    height: 100%;
    margin-left: 12.5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.landingGraphic {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

img {
    width: 60%;
    height: auto;
    margin-right: 15%;
}

p {
    font-family: "Tuffy", "san serif";
    text-align: left;
    color: #E7EAE6;
}

.greeting {
    margin-bottom: 0%;
    font-size: 1.5em;
    color: #BEC4BA;
}

.name {
    margin-top: 1%;
    margin-bottom: 0%;
    font-size: 5em;
}

.title {
    margin-top: 0%;
    color:  #A9e7e5;
}

.shortDescription {
    width: 65%;
    height: 15%;
    margin-top: 2.5%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    line-height: 1.25em;
    letter-spacing: 0.1em;
    z-index: 1;
    position: relative;
}

.blurb {
    font-family: "Tuffy", "san serif";
    text-align: left;
    color: #E7EAE6;
    padding: 5%;
    background-color: #1B252B;
}

.blurb::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    top: 25px;
    left: 10px;
    z-index: -1;
    background-color: #A9e7e5;
}

mark {
    background-color: rgb(255,0,0,0);
    color: #A9e7e5;
}

