.experience-container {
    width: 100%;
    height: 70%;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.experience-line {
    width: 1%;
    height: 100%;
    background-color: #2F575D;
}

.bar-segment {
    height: 20%;
    background-color: #2F575D;
}

.experience-buttons {
    margin-left: 2%;
    width: 25%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.expbutt {
    all: unset;
    height: 20%;
    color: #2F575D;
    font-size: 2.5em;
    font-family: "Tuffy";
    cursor: pointer;
}

.experience-textbox {
    width: 25%;
    height: 100%;
    margin: 0;
    margin-left: 5%;
    color: #E7EAE6;
    font-family: "Tuffy";
    font-size: 1.5em;
    background-color: #1B252B;
}

.experience-textbox::after {
    content: "";
    position: absolute;
    width: 25%;
    height: 100%;
    top: 5%;
    left: 55%;
    background-color: #A9e7e5;
    z-index: -1;
}

.text {
    width: 80%;
    height: 80%;
    line-height: 1.20em;
    margin: 2.5% 7.5% 7.5% 7.5%;
    font-family: "Tauri";
    color: #B0B6AE;
    text-align: left;
}

.hiddenBar {
    background-color: #2F575D;
}

.clickedBar {
    background-color: #A9e7e5;
}

.hiddenButton {
    color: #2F575D;
}

.clickedButton {
    color: #A9e7e5;
}

.title {
    text-align: left;
    font-size: 1.5em;
    margin-top: 5%;
    margin-left: 7.5%;
}

.time {
    margin-top: 1%;
    text-align: left;
    margin-left: 7.5%;
}