.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #28363D;
  text-align: center;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 20%;
  display: flex;
  font-size: 4em;
  font-family: "Tuffy";
  color: #E7EAE6;
  margin-top: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: Tuffy;
  src: url("./assets/fonts/Tuffy_Bold.otf")
}

@font-face {
  font-family: Tauri;
  src: url("./assets/fonts/Tauri-Regular.ttf")
}
